# Used by `pre-commit` to cache environments.
.pre-commit-cache/

# Test files
*.pyc
*.pyo
.coverage
.pytest_cache/
/tests/__pycache__
.mypy_cache/

# VS Code settings
.vscode/

# Build artifacts
dist/
/custom_components/meraki_ha/www
node_modules/
/custom_components/meraki_ha/frontend/
.DS_Store

# Home Assistant UI build
/custom_components/meraki_ha/panel_data

# Docs build
/site/
/reference/
.cache/

# Pip
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints/
venv/
