site_name: Meraki Home Assistant Integration
docs_dir: docs
theme:
  name: material
nav:
  - Home: README.md
  - Architecture: ARCHITECTURE.md
  - Development: development.md
  - Requirements: REQUIREMENTS.md
