uv
aiofiles
types-aiofiles
meraki
ruff
pip-audit
bandit
mypy
voluptuous
pyyaml
playwright
pytest-homeassistant-custom-component
pytest
pytest-cov
pytest-asyncio
codecov
aiohttp
urllib3
aiodns
pycares
pre-commit
filelock
