meraki==1.40.0
protobuf
diskcache
aiofiles
cryptography
h11
jinja2
orjson
pip
requests
setuptools
tqdm
urllib3
voluptuous
ruff==0.1.6
pip-audit==2.7.2
bandit==1.7.8
# pytest-homeassistant-custom-component==0.13.230 # Conflicts with aiodns==3.6.1 (HA pins 3.2.0)
types-aiofiles
playwright
py
tzdata
janus
psutil-home-assistant
pillow==11.0.0
fnv-hash-fast
flake8
aiodns==3.6.1
pycares==4.11.0
webrtc-models==0.3.0
aiortc
aiohttp==3.13.2
