aiofiles==23.2.1
aiodns==3.6.1
aiohttp>=3.13.2
diskcache==5.6.3
meraki==1.40.1
playwright
protobuf==4.25.3
pycares==4.11.0
pytest-homeassistant-custom-component
urllib3>=2.6.2
webrtc-models==0.3.0
yarl
