meraki>=1.53.0
diskcache==5.6.3
aiofiles==23.2.1
setuptools==78.1.1
ruff==0.5.5
pip-audit==2.7.3
bandit==1.7.9
pytest-homeassistant-custom-component>=0.13.205
pytest-mock
pytest-asyncio
types-aiofiles==23.2.0.20240106
playwright==1.39.0
pytest-cov
py==1.11.0
tzdata==2024.1
janus==1.0.0
psutil-home-assistant==0.0.1
pillow>=11.0.0
fnv-hash-fast
flake8==7.0.0
webrtc-models==0.3.0
PyTurboJPEG
numpy>=1.26.0
aiodhcpwatcher
aiodiscover
aiodns==3.6.1
pycares==4.11.0
