meraki==1.40.1
webrtc-models==0.3.0
orjson>=3.10.7
pytest-homeassistant-custom-component>=0.13.205
pytest-mock
playwright
pytest-cov
flake8
types-aiofiles
aiofiles
PyTurboJPEG
numpy>=1.26.0
# aiodns and pycares managed by homeassistant
