-r requirements_dev.txt

# Test-specific dependencies
pytest-homeassistant-custom-component
pytest
pytest-cov
pytest-asyncio
pytest-socket
pytest-picked
pytest-sugar
pytest-unordered
pytest-xdist
codecov
respx
requests-mock
freezegun
pytest-freezer
pytest-timeout
pytest-github-actions-annotate-failures
syrupy
aiortc
protobuf
diskcache
aiofiles
yarl
cryptography
h11
jinja2
pip
requests
setuptools
tqdm
homeassistant
voluptuous
pytest-mock
types-aiofiles
py
tzdata
janus
psutil-home-assistant
pillow
fnv-hash-fast
flake8
urllib3
