uv
aiodhcpwatcher
aiodiscover
aiofiles>=24.1.0
types-aiofiles==25.1.0.20251011
aiohttp>=3.8.1
meraki>=1.53.0
PyTurboJPEG==1.8.2
ruff
pip-audit==2.7.3
bandit==1.7.9
codecov
diskcache==5.6.3
filelock==3.20.3
fnv-hash-fast
janus==1.0.0
mypy==1.11.0
numpy>=1.26.0
pillow>=11.0.0
playwright>=1.48.0
pre-commit
psutil-home-assistant==0.0.1
py==1.11.0
pyyaml
pytest
pytest-asyncio
pytest-cov
pytest-homeassistant-custom-component>=0.13.205
pytest-mock
setuptools==78.1.1
tzdata==2024.1
urllib3>=1.26.5
voluptuous
webrtc-models==0.3.0
wheel>=0.46.2
