homeassistant==2026.1.0
uv==0.9.17
aiofiles==23.2.1
types-aiofiles==25.1.0.20251011
meraki==1.40.1
PyTurboJPEG==1.7.2
ruff==0.5.5
pip-audit==2.7.3
bandit[toml]==1.7.9
mypy==1.11.0
voluptuous==0.16.0
pyyaml==6.0.3
playwright
pytest-homeassistant-custom-component
pytest
pytest-cov
pytest-asyncio
codecov
aiohttp>=3.13.2
urllib3>=2.6.2
aiodns==3.6.1
pycares==4.11.0
webrtc-models==0.3.0
orjson>=3.10.7
