# Test-specific dependencies
-r requirements_dev.txt
aiofiles
aiortc
codecov
cryptography
diskcache
fnv-hash-fast
freezegun
h11
homeassistant
janus
jinja2
pillow
pip
protobuf
psutil-home-assistant
py
pytest
pytest-asyncio
pytest-cov
pytest-freezer
pytest-github-actions-annotate-failures
pytest-homeassistant-custom-component
pytest-mock
pytest-picked
pytest-socket
pytest-sugar
pytest-timeout
pytest-unordered
pytest-xdist
requests
requests-mock
respx
setuptools
syrupy
tqdm
types-aiofiles
tzdata
urllib3
voluptuous
yarl
