name: Reusable Linting

on:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: ./.github/workflows/_reusable-ci-base.yml
        with:
          python-version: ${{ inputs.python-version }}

      - name: Run Ruff Linter
        run: ruff check .

      - name: Run Ruff Formatter
        run: ruff format --check .
