name: Validate with hassfest
on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'
jobs:
  validate:
    runs-on: 'ubuntu-latest'
    steps:
<<<<<<< HEAD
      - uses: 'actions/checkout@v3'
=======
      - uses: 'actions/checkout@v4'
>>>>>>> origin/beta
      - uses: 'home-assistant/actions/hassfest@master'
