<<<<<<< HEAD
name: Hassfest
=======
<<<<<<< HEAD
name: Hassfest
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  hassfest:
    name: "Hassfest"
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v5"
=======
name: Validate with hassfest
>>>>>>> c0de2c1e (fix(config_flow): Resolve CI failures and rebase on beta)
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  hassfest:
    name: "Hassfest"
    runs-on: ubuntu-latest
    steps:
<<<<<<< HEAD
      - uses: "actions/checkout@v5"
=======
      - uses: "actions/checkout@v3"
>>>>>>> 500a6a1 (Merge branch 'main' into test/config-flow-errors-4148457084909740722)
>>>>>>> c0de2c1e (fix(config_flow): Resolve CI failures and rebase on beta)
      - uses: "home-assistant/actions/hassfest@master"
