name: Deploy MkDocs

on:
  release:
    types: [published]
  push:
    branches: [main]
    paths:
      - 'docs/**'
      - 'mkdocs.yaml'

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
          cache: 'pip'
      - name: Install MkDocs
        run: pip install mkdocs mkdocs-material
      - name: Build docs
        run: mkdocs build -f mkdocs.yaml
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
          publish_branch: gh-pages
          force_orphan: true
