name: Run Pytest

on:
  pull_request:
    branches:
      - main
      - beta

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.13'
          enable-cache: true

      - name: Install dependencies
        run: pip install -r requirements_test.txt

      - name: Run Tests
        run: pytest tests/
