name: Validate

on:
  push:
    branches:
      - main
      - beta
  pull_request:
    branches:
      - main
      - beta
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  validate-hacs:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v4
      - name: HACS validation
        uses: 'hacs/action@main'
        with:
          category: 'integration'
          # Ignore repository settings that may differ on forks
          ignore: topics
